<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tiny.cloud/1/tftk70fc7hf51zdb1hk45zo2lfslylhqield3bfqbs76xb8u/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <style>
    .tag:hover {
      border: 2px solid var(--bs-blue);
    }
  </style>
</head>

<body style="margin: 0">
  <% if(flash.success && flash.success.length> 0){ %>
    <h5>
      <%= flash.success %>
    </h5>
    <%}%>

      <div class="mx-3 pt-1">

        <div id="header-container" class="d-flex justify-content-between align-items-center">
          <div>
            <button class="btn btn-primary" id="homeButton" onclick="homeButton()" data-bs-toggle="modal" data-bs-target="#askQuestionModal">Home</button>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#askQuestionModal">Ask
              question</button> <br>
          </div>
          <div class="d-flex justify-content-end">
            <% if(locals.user){ %>
              <button class="btn btn-primary m-1" id="signout-button" onclick="signout()">Sign-out</button> <br>
              <% }else{ %>
                <button class="btn btn-primary m-1" id="signin-button" onclick="signin()">Sign-In</button> <br>
                <!-- enable the sign-up button to add user for testing purpose otherwise it should be commented as per usecase -->
                <!-- <button class="btn btn-outline-primary btn-sm m-1" id="signup-button" onclick="signup()">Sign-Up</button> -->
                <%}%>
          </div>
        </div>

        <div class="modal fade" id="askQuestionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="askQuestionModalLabel" aria-hidden="true">
          <% if(flash.success && flash.success.length> 0){ %>
            <h5>
              <%= flash.success %>
            </h5>
            <%}%>
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="askQuestionModalLabel">Ask your question</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <textarea class="form-control" rows="4" id="askQuestionModal-question"
                      placeholder="add your question" required></textarea>
                  </div>
                  <div class="modal-body">
                    <textarea class="form-control" rows="2" id="askQuestionModal-tag"
                      placeholder="add tags separated by comma" required></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="askQuestionModal-askButton">Ask</button>
                  </div>
                </div>
              </div>
        </div>

        <div class="modal fade" id="answerQuestionModal" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="answerQuestionModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="answerQuestionLabel">Answer question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <textarea class="form-control" rows="4" id="answerQuestionModal-answer"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="answerQuestionModal-answerButton">Submit
                  answer</button>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex mt-3">
          <input class="form-control form-control-sm" type="search" placeholder="*Search using question title"
            id="searchInput">
          <button class="btn btn-outline-secondary ms-1" id="searchButton">Search</button>
        </div>

        <div class="accordion accordion-flush mt-3">
          <% questions.forEach(function(question, index) { %>

            <div class="accordion-item border mb-2">
              <div class="accordion-header position-relative" id="panelsStayOpen-heading_<%=index%>">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapse_<%=index%>" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapse_<%=index%>">
                  <%=question.title%>
                </button>
                <div class="position-absolute"
                  style="top: 50%; transform: translateY(-50%); right: 60px; z-index: 1000;">
                  <% question.tags && question.tags.forEach(function(tag){ %>
                    <span class="badge text-bg-info tag" role="button" data-list-item-tag="<%=tag%>">
                      <%=tag%>
                    </span>
                    <% }) %>
                </div>
              </div>
              <div id="panelsStayOpen-collapse_<%=index%>" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-heading_<%=index%>">
                <div class="accordion-body">
                  <% if(question.answer) { %>
                    <%-question.answer%>
                      <% } else if(canAnswer && locals.user) { %>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal"
                          data-bs-target="#answerQuestionModal" data-answer-question-id="<%=question._id%>"
                          data-list-item-answer-button="true">
                          Answer this question
                        </button>
                        <% } else { %>
                          <span class="text-muted text-opacity-50">This question is not answered yet.</span>
                          <% } %>
                </div>
              </div>
            </div>
            <% }) %>
        </div>

      </div>
      <script>
    <% if (flash.success && flash.success.length > 0) {%>
          new Noty({
            theme: 'relax',
            text: "<%= flash.success %>",
            type: 'success',
            layout: 'topRight',
            timeout: 1500

          }).show();    
            <%}%>
            <% if (flash.error && flash.error.length > 0) {%>
          new Noty({
            theme: 'relax',
            text: "<%= flash.error %>",
            type: 'error',
            layout: 'topRight',
            timeout: 1500

          }).show();    
            <%}%>
      </script>
      <script type="text/javascript" src="/tinymce/tinymce.min.js"></script>
      <script type="text/javascript">
          tinymce.init({
            selector: 'textarea#answerQuestionModal-answer',
            height: 300,
            menubar: false,
            mode: "specific_textareas",
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
              'bold italic backcolor | alignleft aligncenter ' +
              'alignright alignjustify | bullist numlist outdent indent | ' +
              'removeformat | help'
          });
      </script>

      <script>
        // Setup search box
        (function () {
          const searchInput = document.getElementById("searchInput");
          const searchButton = document.getElementById("searchButton");

          searchInput.addEventListener('keypress', function (event) {
            if (event.key === "Enter") {
              event.preventDefault();
              searchButton.click();
            }
          });

          searchButton.addEventListener('click', function (event) {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);

            if (!searchInput.value) {
              urlParams.delete('search');
            } else {
              urlParams.set('search', searchInput.value);
            }

            window.location.href = `?${urlParams.toString()}`;
          });
        }());

        // Set search string in search input on load
        (function () {
          const searchInput = document.getElementById("searchInput");
          const urlParams = new URLSearchParams(window.location.search);

          searchInput.value = urlParams.get('search')
        })();

        //sign-up and sign-in onclick function for associated buttons
        function signup() {
          window.location = '/user/sign-up';
        }

        function signin() {
          window.location = '/user/sign-in'
        }

        function signout() {
          window.location = '/user/sign-out'
        }

        function homeButton() {
          window.location = '/'
        }

        // Setup ask question modal
        (function () {
          const askQuestionButton = document.getElementById("askQuestionModal-askButton");
          const questionText = document.getElementById("askQuestionModal-question");
          const tagText = document.getElementById("askQuestionModal-tag");


          askQuestionButton.addEventListener('click', function (event) {
            const tags = tagText.value ? tagText.value.split(',').map(tag => tag.trim()) : [];

            fetch('/question/create', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                title: questionText.value,
                tags: tags
              })
            }).then(() => {
              window.location.reload();
            });
          });
        })();


        // Setup answer question modal
        (function () {
          const answerQuestionButton = document.getElementById("answerQuestionModal-answerButton");
          const answerText = document.getElementById("answerQuestionModal-answer");

          let questionId = null;

          document.addEventListener('click', function (event) {
            if (event.target.dataset.listItemAnswerButton) {
              questionId = event.target.dataset.answerQuestionId;
            }
          });

          answerQuestionButton.addEventListener('click', function (event) {
            tinymce.triggerSave(); // to update the hidden textarea value with TinyMCE

            fetch('/question/answer', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                id: questionId,
                answer: answerText.value,
              })
            }).then(() => {
              window.location.reload();
            });
          });
        })();


        // setup tag click listeners
        (function () {
          document.addEventListener('click', function (event) {
            if (event.target.dataset.listItemTag) {
              const queryString = window.location.search;
              const urlParams = new URLSearchParams(queryString);
              const tag = event.target.dataset.listItemTag;

              const existingTags = urlParams.getAll('tags');
              const isSelected = existingTags.filter(t => t === tag).length > 0;

              const newTags = isSelected ?
                existingTags.filter(t => t !== tag) :
                [...existingTags, tag];

              urlParams.delete('tags');

              newTags.forEach(t => urlParams.append('tags', t));

              window.location.href = `?${urlParams.toString()}`;
            }
          });
        })();
      </script>
</body>

</html>